<%= form_with(model: note, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :note_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :note%>
    <%= form.text_area :note, id: :note_note, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group text-center">
    <%= form.label :data %>
    <%= form.datetime_select :data, id: :note_data %>
  </div>

  <div class="columns text-center">
    <div class="field column is-4">
      <div class="control">
        <%= form.label :status %>
        <div class="control has-icons-left">
          <span class="select">
            <%= form.select :status, Note::STATUS, id: :note_status %>
        </div>
      </div>
     </div>
  </div>

  <div class="mt-3 text-center">
    <%= form.submit 'Salvar', class: 'btn btn-success',
     data: { disable_with: 'Salvando...'} %>
  </div>

<% end %>
