<div class="card bg-light mb-3">
  <div class="card-body">
    <h4><%= link_to note.title, note %></h4>

    <div class="text-muted mb-2">
      <em>(<%= l note.created_at, format: :long %>)</em>

      <div class="text-right text-<%= note.css_color %>">
         <%= note.symbol %>
      </div>

    </div>

      <p><%= note.note.truncate(60) %></p>

      <%= link_to "Ver Anotação", note, class: 'btn btn-secondary' %>
      <%= link_to "Editar", edit_note_path(note), class: 'btn btn-warning' %>
      <%= link_to "Deletar",note, method: :delete, class: 'btn btn-danger',
      data: { confirm: 'Você tem certeza?'} %>
  </div>
</div>
