  <h2 class="text-white">
    <% if @notes.any? %>
    <%= pluralize(@notes.count, 'Resultados') %> encontrados:
    <% else %>
    Nenhum resultado encontrado
    <% end %>
  </h2>


<% @notes.each do |note| %>
  <%= render note %>
<% end %>
