<div class="shadow p-5 bg-white rounded">
  <div class="text-center">
    <h1 class="mb-4"><%= @note.title %></h1>
    <div class="text-right mb-4">Prioridade <%= @note.status %></div>
    <p class="text-muted">
      <%= @note.note.gsub("\n", "<br>").html_safe %>
    </p>

  </div>

  <hr>
  <%= l @note.created_at, format: :long %>
</div>
