<div class="card">
  <div class="card-body">
    <h2 class= 'text-center'>Resend confirmation instructions</h2>

    <div class="text-center">

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control col-md-4 offset-md-4' %>
      </div>

        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>

      <% end %>
    </div>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>  
