<div class="card">
  <div class="card-body">
    
    <div class="text-center mt-4">
      <h1 class= 'text-muted mb-3'>Anotações</h1>
      <h2>Sign up</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="text-center">

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-md-4 offset-md-4' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control col-md-4 offset-md-4' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-md-4 offset-md-4' %>
          </div>


            <%= f.submit "Sign up", class: 'btn btn-primary' %>

        </div>
    <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
