<div class="card">
  <div class="card-body">
    <div class="text-center mt-4">
      <h1 class= 'text-muted mb-3'>Anotações</h1>
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-md-4 offset-md-4' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control col-md-4 offset-md-4' %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <%= f.submit "Log in", class: 'btn btn-primary' %>

      <% end %>
    </div>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
