<!DOCTYPE html>
<html>
  <head>
    <title>Anotações</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-outline-info static-top mb-5">
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to root_path, class: 'text-white btn btn-outline-info' do %>
            Anotações
          <% end %>
          <%= link_to "+ Anotações", new_note_path, class: 'btn btn-success' %>


      </div>

          <div class="dropdown-toggle text-right mr-4">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        <% end %>
          </div>
    </nav>


      <main class="container">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

      <% if user_signed_in? %>

        <div class="row">
          <div class="col-4 offset-8">
            <div class="search">
              <%= form_with url: search_notes_path, method: :get, local:true, class: 'form-inline' do |form| %>
                <div class="form-group mx-3 mb-3">
                  <%= form.search_field :q, class: 'form-control', required: true,
                  placeholder: 'Busca', value: params[:q] %>
                </div>
                <%= form.submit 'Buscar', class: 'btn btn-info mb-3', data: {disable_with: 'Buscando...'} %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
        <%= yield %>
      </main>


    <footer class='text-white text-center mt-5 p-8'>
      Copyright © Wendel Lopes <%= Date.current.year %>.
    </footer>

  </body>
</html>
